body{
    background-image: url("greta.jpg");
}
.Animacion{
    width: 300px;
    height: 300px;
    background:#aaa;
    animation-name: mar;
    animation-duration: 10s;
    position: relative;/*Posicion empieza en 0 */
    /*animation-delay: 2s; Empieza la animación en 2s*/
    /*animation-direction: reverse;/*Invierte el movimiento*/
    animation-timing-function: linear;/*Limita la velocidad en ambos sentidos*/
    animation-iteration-count: infinite;/*Repite la animacion*/
}
/*Clase de css para crear animaciones*/
@keyframes mar{/*Invocando el nombre de la animacion*/
    0%{
    background-image:url("coli.jpg");
    border-radius: 0%;
    width: 300px;
    height: 300px;
}
    50%{
    background-image:url("cielo.jpg");
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
    100%{
    background-image:url("perro.jpg");
    border-radius: 100%;
    width: 450px;
    height: 450px;
}
}