body{
    padding: 5px;
    margin: 0;
    background-image: url(fondo-form.jpg);
}
/*Titulo principal*/
.titulo-principal{
    color: white;

}
/*Navegación*/
.link-volver{
 color: white;
}
/*Formulario*/
.formulario{
    border-style: solid;  
    width: 26%;
    margin: 0 auto;
    background-color:rgb(193, 235, 54);
    display: flex;
    color: black;
    padding: 5px;
}
/*Estilos a los atributos del formulario*/
.nombre-completo{
    margin: 10px;
}
.email{
    margin: 10px;
}
.salario{
    margin: 10px;
}
.ciudad{
    margin: 10px;
}
.guardar{
    margin: 20px;
    text-align: right;
    padding-left: 100%;
}
/*Estilos a las cajas de texto del formulario*/
.caja-name{
    flex-direction: right;
    width: 130%; 
    height: 20px;

}
.caja-email{
    display: flexbox;
    flex-direction: right;
    width: 130%;
    height: 20px;

}
.caja-salario{
    flex-direction: right;
    width: 130%;
    height: 20px;
}
.caja-ciudad{
    flex-direction: right;
    width: 130%;
    height: 20px;
}
.resultados{
    color: rgb(3, 6, 0); 
    font-size: 25px;
    border-style: solid;  
    width: 56%;
    margin: 0 auto;
    background-color:rgb(49, 237, 32);
}
.icono{
background-image:"monitor.png";
}
/*Comienzo de Animacion*/
.Anima{
    width: 150px;
    height: 150px;
    background: rgb(214, 18, 18);
    animation-name: miAnima;
    animation-duration: 10s;
    position: relative;
}
/*Invocacion de Nombre de la Animacion*/
@keyframes miAnima {
    0% {background: red;left: 0; top: 0px;}
    15% {background: yellow;left: 585px; top: 0px;}
    25% {background: green;left: 585px; top: -445px;}
    35% {background: blue;left: 585px; top: 0px;}
    45%{background: blueviolet;left: 0; top: 0px;}
    55%{background: rgb(160, 163, 164);left: -585px; top: 0px;}
    65%{background: rgb(18, 71, 35);left: -585px; top: -445px;}
    75%{background: rgb(5, 1, 1);left: -585px; top: 0px;}
    100%{background: rgb(38, 22, 134);left: 0px; top: 0px;}
}

