* {
    box-sizing: border-box; /*Ocupa tanto el espaciado interno y el externo*/
    margin: 0; /*Sin margenes hacia afuera*/
    padding: 0; /*Sin espaciados hacia dentro*/
    font-size: 16px; /*tamaño de las letras del texto*/
    font-family: 'Oswald', sans-serif;/*Formato de letra*/
}

body{
    background: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.2'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); /*Patron de imagenes obtenidas a traves de hero patternes*/

}
/*Personalizar las etiquetas de navegación*/
a {
    color: #ffffff;
    text-decoration: none;/*le quita el subrayado a las etiquetas de navegación*/
}

ul {
    list-style: none; /*quita los estilos que tienen por defecto las etiqueta ul*/
}
.contenedor{
    width: 90%;
    background:url("greta.jpg") no-repeat/*No repetir imagen*/ 
    center/*Centra la imagen*/ 
    center/cover;/*Ajusta el tamaño de la imagen*/
    margin: auto;/*Ajusta todos los elementos*/
}
.nav-main{
    font-size: 17px;
    display: flex;/*Organiza los elementos uno al lado del otro*/
    justify-content: space-between;/*Los elementos usan todo el hancho disponible*/
    align-items: center;/*Alinea los elementos en el centro*/
    height: 60px;
    padding: 20px 0;/*Distancia de los elementos de 20px arriba y abajo, con cero a los lados */
}
.nav-brand{
    width: 50px;
    height: 50px;
}
/*Navegation left*/
.nav-main ul {
    display: flex;/*Organiza los elementos uno al lado del otro*/
}
.nav-main ul li {
    padding: 10px;/*Distancia de los elementos de 10px*/
}
/*Efecto para las etiquetas a*/
.nav-main ul li a {
    padding: 6px; /*Todos los elementos de la etiqueta a tienen una distancia de 2px*/
    color: #ffffff;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff; /*Linea blanca mostrada al colocar el mouse sobre el menu*/
}
.nav-main ul.nav-menu{
    flex: 1;/*Acerca los elementos a el logo*/
    margin-left: 20px; /*Genera un espacio de los elementos con el logo*/
}
.titulo{
    font-size: 45px;
    color: aliceblue;
    text-align: center;
}
.parrafo{
    color: #ffffff;
    text-align: justify;/*Contenido justificado*/
}
.formulario{
    border-style: solid;  
    width: 27%;
    margin: auto;
    text-align: right;/*Texto aligneado a la derecha*/
    background-color:rgb(193, 235, 54);
    color: black;
    padding: 10px;
}
.tabla-clientes{
    border-style: solid;
    color: #000000;
    background-color:rgb(193, 235, 54);
}
.animacion{
    width: 300px;
    height: 300px;
    background:#aaa;
    animation-name: mar;
    animation-duration: 10s;
    position: relative;/*Posicion empieza en 0 */
    /*animation-delay: 2s; Empieza la animación en 2s*/
    /*animation-direction: reverse;/*Invierte el movimiento*/
    animation-timing-function: linear;/*Limita la velocidad en ambos sentidos*/
    animation-iteration-count: infinite;/*Repite la animacion*/
}
/*Clase de css para crear animaciones*/
@keyframes mar{/*Invocando el nombre de la animacion*/
        0%{
        background-image:url("coli.jpg");
        left: 0; top: 0;
        border-radius: 0%;
        width: 300px;
        height: 300px;
    }
        25%{
        left: -585px; top: 0;
        border-radius: 0%;

    }
        50%{
        
        left: 585px; top: 0px;
        border-radius: 50%;
     
    }
        100%{
        background-image:url("perro.jpg");
        left: 0; top: 0px;
        border-radius: 100%;
        width: 450px;
        height: 450px;
    }
}